
{% extends 'base.html' %} {% block title %} Contact
{% endblock title %} {% block content %}
<!DOCTYPE html>
<body>
    <section class="wrapper" >
        <h1></h1>
        <div><span class="dot"></span></div> <!--tao hinh tron-->
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
    </section>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    
    <body>
        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
        <div class="elfsight-app-7dd4dd88-869b-41a1-bfa2-a592a5b65c1e"></div>
        <script src="" async defer></script>
    </body>
</html>

{% endblock content %}
</body>
